extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Vestibulum efficitur nulla justo, nec bibendum lectus mollis at. Phasellus at orci sit amet magna varius pellentesque ac a elit. Integer finibus sollicitudin tellus, a sodales lectus laoreet et. Donec eu augue tincidunt, pulvinar mi vel, iaculis dolor.
                p  Phasellus gravida libero a urna lobortis, in feugiat nibh accumsan. Morbi hendrerit arcu eget posuere ornare. Pellentesque vel feugiat lorem, sit amet elementum mauris. Nulla id interdum sem. Nulla vel dui eu felis lacinia malesuada. Duis sed nibh tortor. 
                p  Duis eget lectus vel odio malesuada auctor. Fusce tellus ligula, lobortis tincidunt augue et, dapibus pretium urna. Morbi velit lectus, pellentesque id interdum id, porta vel ligula. Phasellus gravida libero a urna lobortis, in feugiat nibh accumsan. Morbi hendrerit arcu eget posuere ornare.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Ut accumsan, diam ornare sodales laoreet, lacus enim congue sem, sit amet pharetra ex sem quis nulla. Donec quis lacus convallis, dapibus sem a, vestibulum ante.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Ut accumsan, diam ornare sodales laoreet, lacus enim congue sem, sit amet pharetra ex sem quis nulla. Donec quis lacus convallis, dapibus sem a, vestibulum ante.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Ut accumsan, diam ornare sodales laoreet, lacus enim congue sem, sit amet pharetra ex sem quis nulla. Donec quis lacus convallis, dapibus sem a, vestibulum ante.
                    